<!DOCTYPE html>
<html lang="en">
<!-- head - служебная информация -->
<head>
    <title>Home</title>
    <link rel="stylesheet" href="static/styles/style.css">
</head>

<!--
h1 - заголовок
h2 и т.д - уменьшение иерархии
р - текст по абзацам
span - текст по строкам
a - позволяет вставлять ссылки
target="_blank" - ссылка в новом окне

-->
<body>
    <h1> Главная страница сайта</h1>
    <h2>Мне искренне жаль тебя, если ты это видешь</h2>
    <div class="outher">
        <div class="cont">
            <img src="https://avatars.steamstatic.com/39469f56926b5d2acbcc76042f64b79b48bc83e3_medium.jpg" alt="Тут был пингвин">
            <p>Ща тут мемы пиздец будут</p>
            <p>Ебатб</p>
        </div>

        <div class="cont">
            <img src="https://avatars.steamstatic.com/39469f56926b5d2acbcc76042f64b79b48bc83e3_medium.jpg" alt="Тут был пингвин">
            <p>Ща тут мемы пиздец будут</p>
            <p>Ебатб</p>
        </div>

        <div class="cont">
            <img src="https://avatars.steamstatic.com/39469f56926b5d2acbcc76042f64b79b48bc83e3_medium.jpg" alt="Тут был пингвин">
            <p>Ща тут мемы пиздец будут</p>
            <p>Ебатб</p>
        </div>
    </div>
    <div class="outher">
        <div class="cont">
            <img src="https://avatars.steamstatic.com/39469f56926b5d2acbcc76042f64b79b48bc83e3_medium.jpg" alt="Тут был пингвин">
            <p>Ща тут мемы пиздец будут</p>
            <p>Ебатб</p>
        </div>

        <div class="cont">
            <img src="https://avatars.steamstatic.com/39469f56926b5d2acbcc76042f64b79b48bc83e3_medium.jpg" alt="Тут был пингвин">
            <p>Ща тут мемы пиздец будут</p>
            <p>Ебатб</p>
        </div>

        <div class="cont">
            <img src="https://avatars.steamstatic.com/39469f56926b5d2acbcc76042f64b79b48bc83e3_medium.jpg" alt="Тут был пингвин">
            <p>Ща тут мемы пиздец будут</p>
            <p>Ебатб</p>
        </div>
    </div>


    <ul>
        <li>Раздел: <a href="contact">Контакты</a></li>
        <li>Раздел: <a href="about"> о сайте </a></li>
        <li>Раздел: <a href="featback">отзыв</a></li>
    </ul>


</body>
</html>