
p
{
    font-size: 25px;
    background-color: #5cff5c;
}

.cont
{
    display: inline-block;
    text-align: left;
    background-color: #a2a7a2;
}

li
{
    font-size: 25px;
    margin-left: 0px;

}